/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

@import url("https://fonts.googleapis.com/css?family=Rubik:400,700,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

p {
  margin: 10px 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Base styles */

html {
  font-family: Rubik, apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: white;
  background: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: var(--spacing--xtight);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--text-color--subdued);
}

:root {
  --text-color: rgb(255, 255, 255);
  --text-color--subdued: rgba(255, 255, 255, 0.5);

  --font-size--default: 16px;
  --font-size--medium: 20px;
  --font-size--large: 24px;
  --font-size--xlarge: 36px;

  --spacing--xtight: 10px;
  --spacing--tight: 20px;
  --spacing--base: 40px;
  --spacing--loose: 80px;
  --spacing--xloose: 160px;
}
